* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  min-width: 1200px;
  max-width: 100%;
  margin-bottom: 0;
  visibility: hidden; 
  background-color:black;
}

main {
  margin: 0;
  min-height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

aside {
  border-radius: 10px;
  border: 2px solid black;
  opacity: 0.9;
  text-align: center;
  width: 250px;
  margin-top: -440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

aside .commandes:hover span {
  color: white;
  background-color: purple;
}

aside .commandes:hover p:nth-child(2) {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
      transform: scale(1.05);
  font-weight: bolder;
  color: rgb(210, 30, 39);
}

span {
  font-size: 1rem;
  font-weight: bolder;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5%;
}

#play {
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  margin: 1.5%;
}

.fas {
  font-size: 1.5rem;
}

#play:hover {
  background-color: #d3c37b;
}

#ecran {
  background-image: url("./img/paysage.gif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 500px;
  opacity: 0.5;
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.iconesTop {
  position: absolute;
}

#html-cssTop {
  height: 30px;
  left: -30px;
  top: -10px;
  width: 30px;
}

#javascriptTop {
  height: 25px;
  left: -26px;
  top: -7px;
  width: 25px;
}

#jqueryTop {
  height: 35px;
  left: -33px;
  top: -7px;
  width: 35px;
}

.icones {
  display: none;
  position: absolute;
}

.competences {
  height: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100px;

}

#competencesHtmlCss {
  left: 50px;
  top: 27px;
  text-align: center;
}

#competencesJavascript {
  left: 50px;
  top: 60px;
  text-align: center;
}

#competencesJquery {
  left: 50px;
  top: 93px;
  text-align: center;
}

#container {
  height: 102px;
  margin: 0px auto;
  overflow: hidden;
  position: absolute;
  width: 67px;
  z-index: 2;
}

#contenu {
  height: 1470px;
  position: absolute;
  width: 1064px;
}

#containerSecond,
#containerQuatrieme {
  height: 107px;
  margin: 0px auto;
  overflow: hidden;
  position: absolute;
  width: 67px;
  z-index: 4;
}

#containerSecond{
  -webkit-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
}

#contenuSecond,
#contenuQuatrieme {
  height: 1100px;
  position: absolute;
  width: 1183px;
  z-index: 1;
}

#containerTroisieme {
  -webkit-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  height: 107px;
  margin: 0px 0px;
  overflow: hidden;
  position: absolute;
  width: 67px;
  z-index: 3;
}

#contenuTroisieme {
  height: 1100px;
  position: absolute;
  width: 1183px;
}

footer {
  margin: 0;
  width: 100%;
}

footer img {
  width: 100%;
}